body{
    background-color:thistle
}
h2{
    font-size: 200%;
    text-shadow: 50%;
    text-decoration-color: blue;
    padding: 40px 30px 0px 40px;
    text-align: center;
}
ul 
{
    margin: 0px;
    padding:0px;
    block-size: auto;
    background-color: rgb(137, 188, 233);
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 10px 0px 0px 0px;
    font-size: 18px;
    transition: 0.2s;
    text-decoration-style: solid;
  
    /* make the list items unselectable 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

ul li:nth-child(odd) {
    background: #b99999;
}
ul li:hover {
    background: #ddd;
}
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-radius: 2px;
    border-color: #5c5555;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.4%
}
.close:hover {
    background-color: #2e6497;
    color: white;
}

.header {
    background-color: #1c4d7a;
    padding: 10px 10px;
    color: white;
    text-align: center;
}
.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 50%;
    padding: 10px;
    float: center;
    font-size: 16px;
}
.addBtn:hover {
    background-color: #bbb;
}

.addBtn {
    padding: 10px;
    width: 20%;
    background: #d9d9d9;
    color: #555;
    float: center;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

#myUL{
    display: none;
}
